on:
  release:
    types:
      - created
      - deleted
      - edited
      - prereleased
      - published
      - released
      - unpublished

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - run: echo '${{ github.event }}'
