on:
  release:
    types:
      - created
      - deleted
      - edited
      - prereleased
      - published
      - released
      - unpublished

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
